useDynLib(rMVP, .registration=TRUE)
exportPattern("^MVP")
importFrom(Rcpp, evalCpp)
import(MASS)
import(stats)
import(parallel)
import(graphics)
import(grDevices)
import(bigmemory)
importFrom(methods, is)
importFrom(methods, new)
importFrom(methods, getPackageName)
importFrom(utils, read.delim)
importFrom(utils, read.table)
importFrom(utils, write.table)
importFrom(utils, write.csv)
importFrom(utils, memory.limit)
importFrom(utils, packageVersion)
importFrom(bigmemory, attach.big.matrix)
