useDynLib(rMVP, .registration=TRUE)
exportPattern("^MVP[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(MVP)
import(utils)
import(stats)
import(methods)
import(graphics)
import(grDevices)
import(parallel)
import(MASS)
import(bigmemory)
import(biganalytics)
